<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  nav a{
    font-size: 20px;
    display: inline;
  }
    h1{
    text-align: center;
  }
  p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  }
</style>
<body>
  <header>
    <nav>
    <a href="home.html">Home</a>
    <a href="contactus.html">contactus</a>
    </nav>
    <h1>About Us</h1>
  </header>
  <main>
    <p>Welcome to our website! We are a team of passionate individuals dedicated to delivering high-quality content and exceptional services to our users. Our mission is to create meaningful connections, inspire creativity, and provide solutions that make life easier and more enjoyable. With a commitment to innovation and excellence, we strive to exceed expectations and foster a community built on trust and collaboration. Thank you for being part of our journey – we’re excited to grow and evolve with you!</p>
  </main>
</body>
</html>