<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  nav a{
    font-size: 20px;
    display: inline;
  }
    h1{
    text-align: center;
  }
  p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  }
</style>
<body>
  <header>
    <nav>
    <a href="home.html">Home</a>
    <a href="aboutus.html">aboutus</a>
    </nav>
    <h1>Contact Us</h1>
  </header>
  <main>
    <p>We’d love to hear from you! Whether you have a question, feedback, or simply want to get in touch, feel free to reach out to us. Use the contact form on this page to send us a message directly, and we’ll get back to you as soon as possible. Your input and thoughts are important to us, and we’re always here to assist you. Let’s stay connected!</p>
  </main>
</body>
</html>